@keyframes obrot
{
    0%
    {
        margin: 10%;
        border:  2px solid white;
        background-color: black;
        transform: rotate(45deg);
    
    }

    100%
    {
        margin: 10%;
        border:  2px solid white;
        background-color: black;
        transform: rotate(180deg);
    
    }
}

#animki
{
    margin: 10%;
    border:  2px solid white;
    background-color: black;
    transform: rotate(359deg);
    animation: obrot 10s normal forwards;
}
#animki:hover
{
}