#nav_bar
{
    background-color: black;
    border-right: 10px solid white;
    width: 5%;
    height: 100vh;
    padding: 1%;
    float: left;
    position: fixed;
    z-index: 1;
}
.menu_OP
{
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
}
.menu_OP:hover
{
    border: 3px solid gray;
    cursor: pointer;
}

.position
{
    display: inline-block;
}
#Op_2
{
    position: absolute;
    left: -40%;
    top: 35%;
    width: 180%;
    height: 22%;
    border: 7px solid white;
    background-color: black;
    transform: rotate(60deg);
    z-index: 1;
}

#szer_menu
{
    background-color:rgb(27, 27, 27);
    width: 95%;
    height: 20%;
    border-bottom: 7px solid white;
    padding: 1%;
    float: right;
    position: absolute;
    top: -100%;
    right: 0%;
    z-index: 1;
}
#menu_naglowek
{
    font-weight: 900;
}

#logo_ico
{
    width: 100%;
}

#Op_2:hover
{
    border: 7px solid orange;
}