#content_left
{
    background-color: rgb(27, 27, 27);
    width: 70%;
    height: 300px;
    float: left;
    margin-left:5% ;
    z-index: 1;
}
#content_left_text
{
    position: absolute;
    font-size: 750%;
    padding-left: 5%;
    padding-top: 1.4%;
    color: orange;
    font-weight: 900;
    line-height: 90%;
    z-index: 1;
}
#content_right
{
    padding-top: 1%;
    float: right;
    width: 24%;
    height: 300px;
    margin-right:0.5%;
    background-color: rgb(190, 188, 188);
    color: black;
    opacity: 80%;
        z-index: 1;

}

.content_class
{
    display: inline-block;
    padding: 0.5%;
}

ul
{
    line-height: 10%;
}
li
{
    line-height: 120%;
}

#content_large_cube
{
    width: 300px;
    height: 300px;
    background-color: rgb(22, 21, 21);
    border: 5px solid white;
    position: absolute;
    right: -50%;
    top: 25%;
    font-size: 17%;
    font-weight: 400;
    transform: rotate(-20deg);
    padding-top: 23%;
    padding-left: 2%;
}
#content_small_cube
{
    width: 200px;
    height: 200px;
    background-color: rgb(22, 21, 21);
    border: 5px solid white;
    position: absolute;
    right: 100%;
    top: 40%;
    font-size: 80%;
    padding-top: 45%;
    padding-left: 5%;
}
#lc_1
{
    color: white;
    line-height: 120%;
}
#lc_2
{
    font-weight: 700;
    line-height: 120%;
}

#clt_1
{
    color: white;
}




#content_box_2
{
    margin-top: 300px; 
    float: right;
    width: 95%;
}
.content_box_2
{
    display: inline-block;
    background-color: rgb(168, 168, 168);
    border: 2px solid white;
    color: black;
    width: 550px;
    margin: 1%;
    padding: 0.5%;
    padding-bottom: 0%;
    opacity: 90%;
    font-weight: 600;
}
#c_box_img_1
{
    width: 99%;
}

#c_box_naglowek
{
font-weight: 800;
font-size: 22px;
}
#c_box_tresc
{
    font-size: 15px;
}
#content_button
{
    padding: 10px;
    float: right;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0px;
    background-color: white;
    border: 1px solid white;
}
#content_button:hover
{
    background-color:rgb(22, 21, 21) ;
    color: orange;
    border: 1px solid rgb(22, 21, 21);
    cursor: pointer;
}
.c_box_img
{
    display: inline-block;
}
#c_box_img_2
{
    position: absolute;
    border: 5px solid white;
}