#content_timer
{
    z-index: -1;
    background-color: white;
    width: 95%;
    float: right;
    color: black;
    padding-top: 15%;
    padding-bottom: 2%;
    opacity: 80%;
}
#tlo_zegar
{
    margin-left: 40%;
    width: 400px;
    height: 400px;
    background-color: white;
    border: 20px solid orange;
    border-radius: 200px;
    text-align: center;
}
#zegar_napis
{
    padding-top: 35%;
    font-size: 70px;
    font-weight: 600;
}
#wczytaj_liczby
{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid orange;
    border-radius: 50px;
}
#timer_gray
{
    background-color: rgb(187, 187, 187);
    padding: 20px;
    text-align: center;
}